body {
    background-color: black;
}

.container {
    margin: 10px auto;
    width: 500px;
    height: 50vh;
}

.container h1 {
    color: rgb(21, 21, 228);
    text-align: center;
    --cor-neon: rgb(21, 21, 228);
    animation: neon 0.2s alternate infinite cubic-bezier(0.51,-1.6, 0, 1.79)clear
    ;
}

@keyframes neon {
    from {
      filter: drop-shadow(0 0px 0px var(--cor-neon));
    }
  
    to {
      filter: drop-shadow(0 0px 8px var(--cor-neon));
    }
  }
  